# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore configuration files
*.env
.env

# Ignore logs
*.log

# Ignore compiled C extensions
*.so

# Ignore distribution/packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignore IDE specific files
.idea/
.vscode/
.DS_Store
